@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800;900&display=swap');

html,
body {
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.sticky {
  position: fixed !important;
  width: 100%;
  background: $white !important;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15) !important;
}

.orange {
  color: $orange !important;
}

.header-area {
  position: absolute;
  background: rgba(250, 250, 250, 0.1);
  width: 100%;
  z-index: 1;
  transition: all 0.5s ease 0s;

  .main-navigation {
    position: relative;
    display: flex;
    min-height: 80px;
    align-items: center;
    justify-content: space-between;

    .company-logo {
      color: $white;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: 800;
      font-size: $logo;
      line-height: 80px;

      & > em {
        color: $orange;
      }
    }

    .darken {
      color: $dark !important;

      &:hover {
        color: $orange !important;
      }

      &:target {
        color: blue !important;
      }
    }

    .darken-logo {
      color: $dark !important;
    }

    .navigation-items {
      display: flex;

      & > li {
        font-weight: 500;
        font-size: $general;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 0 20px;
        line-height: 80px;

        &.nav-button {
          background: $orange;
          padding: 0;

          & > a {
            padding: 0 20px;
            color: $white !important;

            &:hover {
              background-color: lighten($color: $orange, $amount: 10%);
            }
          }
        }

        // &.active > a {
        //   color: $orange;
        // }

        & > a {
          list-style: none;
          transition: all 0.3s ease 0s;
          text-decoration: none;
          color: $white;
          display: block;

          &:hover {
            color: $orange;
          }

          &.active {
            color: $orange !important;
          }
        }
      }
    }
  }
}

.site-banner {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  color: $white;

  .video-wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: rgba(35, 45, 57, 0.8);
    }

    .banner-video {
      min-width: 100%;
      min-height: 100%;
      object-fit: cover;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .overlay-caption {
    position: relative;

    & > h6 {
      font-size: $h6;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 0.5px;
    }

    & > h2 {
      margin: 30px 0 25px;
      font-size: $h2;
      text-transform: uppercase;
      font-weight: 800;
      letter-spacing: 1px;

      & > em {
        color: $orange;
      }
    }

    & .overlay-button > a {
      display: inline-block;
      padding: 12px 20px;
      text-decoration: none;
      color: $white;
      background-color: $orange;
      font-size: $button;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $white;
        background-color: lighten($color: $orange, $amount: 10%);
      }
    }
  }
}

.programs-header {
  text-align: center;
  max-width: 50%;
  margin: 140px auto 80px;

  & > h2 {
    font-size: $h2-small;
    font-weight: 800;
    color: $dark;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    & > em {
      color: $orange;
    }
  }

  & > img {
    margin: 20px 0;
  }

  & > p {
    font-size: $general + 1;
    line-height: 25px;
    color: $light-grey;
  }
}

.feature-programs {
  width: 47%;
  display: inline-block;
  padding: 0 1%;
}

.featured-item {
  display: flex;
  margin-bottom: 60px;

  & .left-icon {
    margin-right: 30px;
    display: flex;
    align-items: center;
  }

  & .right-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;

    & > h4 {
      letter-spacing: 0.25px;
      color: $dark;
      font-size: 19px;
      font-weight: 600;
      margin-bottom: 7px;
    }

    & > p {
      font-size: 14px;
      line-height: 25px;
      color: #7a7a7a;
    }

    & > a {
      display: flex;
      align-self: flex-end;
      text-decoration: none;
      color: $orange;
      font-size: $general;
      margin-top: 7px;
    }
  }
}

.promotion {
  padding: 120px 0px;
  background-image: url(../images/cta-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;

  .cta-content {
    width: 80%;
    margin: 0 auto;
  }

  .promotion-content {
    & > h2 {
      font-size: 36px;
      text-transform: uppercase;
      font-weight: 800;
      color: #fff;
      letter-spacing: 1px;

      & > em {
        color: $orange;
      }
    }

    & > p {
      font-size: 16px;
      color: #fff;
      margin: 15px 0px 25px 0px;
      line-height: 25px;
    }
  }

  .promotion-button {
    & > a {
      display: inline-block;
      padding: 12px 20px;
      text-decoration: none;
      color: #fff;
      background-color: #ed563b;
      font-size: 15px;
      text-transform: uppercase;
      transition: all 0.3s ease 0s;

      &:hover {
        color: $white;
        background-color: lighten($color: $orange, $amount: 10%);
      }
    }
  }
}

.classes-header {
  text-align: center;
  margin: 140px auto 80px;
  max-width: 50%;

  & > h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    & > em {
      color: $orange;
    }
  }

  & > img {
    margin: 20px 0;
  }

  & > p {
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
  }
}

.classes-descriptions {
  margin-bottom: 140px;
}

.classes-section {
  display: flex;

  .classes-left {
    width: 33%;

    & > ul > li {
      margin-bottom: 30px;
      cursor: pointer;

      & > span {
        text-decoration: none;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        padding: 30px 20px;
        background-color: #fff;
        //box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        font-size: 19px;
        color: #232d39;
        letter-spacing: 0.5px;
        font-weight: 600;
        transition: all 0.3s;

        & > img {
          margin-right: 30px;
        }
      }

      &.tab-active > span {
        color: $orange !important;
      }
    }
  }

  .classes-right {
    width: 66%;
    margin-left: 30px;
    transition: all 0.3s;

    .training-tab {
      display: none;

      &.training-active {
        display: block !important;
      }

      /* ALL APPENDED CHILDREN DON'T APPLY NESTED STYLES */

      // & > img {
      //   max-width: 100%;
      //   border-radius: 5px;
      // }

      // & > h4 {
      //   font-size: 23px;
      //   font-weight: 700;
      //   color: $dark;
      //   letter-spacing: 0.5px;
      //   margin-bottom: 20px;
      //   margin-top: 30px;
      // }

      // & > p {
      //   font-size: 14px;
      //   color: #7a7a7a;
      //   margin-bottom: 28px;
      //   line-height: 25px;
      // }

      // .classes-button > a {
      //   display: inline-block;
      //   text-decoration: none;
      //   font-size: 15px;
      //   padding: 12px 20px;
      //   background-color: #ed563b;
      //   color: #fff;
      //   text-align: center;
      //   font-weight: 400;
      //   text-transform: uppercase;
      //   transition: all 0.3s;

      //   &:hover {
      //     color: $white;
      //     background-color: lighten($color: $orange, $amount: 10%);
      //   }
      // }
    }
  }
}

// .classes-all-button {
//   margin: 50px 0;
//   text-align: center;

//   & > a {
//     text-align: center;
//     padding: 20px 30px;
//     display: inline-block;
//     box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
//     color: #fff;
//     font-size: 19px;
//     letter-spacing: 0.5px;
//     font-weight: 600;
//     background-color: $orange;
//     text-decoration: none;
//   }
// }

// .training-class.tab-active > span {
//   color: $orange !important;
// }

.classes-image {
  max-width: 100%;
  border-radius: 5px;
}

.classes-title {
  font-size: 23px;
  font-weight: 700;
  color: $dark;
  letter-spacing: 0.5px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.classes-introduction {
  font-size: 14px;
  color: #7a7a7a;
  margin-bottom: 28px;
  line-height: 25px;
}
.classes-anchor {
  display: inline-block;
  text-decoration: none;
  font-size: 15px;
  padding: 12px 20px;
  background-color: #ed563b;
  color: #fff;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  transition: all 0.3s;
}

.classes-anchor:hover {
  color: $white;
  background-color: lighten($color: $orange, $amount: 10%);
}

.schedule {
  overflow: hidden;
  padding: 0px 0px 140px 0px;
  background-image: url(../images/schedule-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .schedule-header {
    text-align: center;
    margin: 140px auto 80px;
    max-width: 50%;

    & > h2 {
      font-size: 28px;
      font-weight: 800;
      color: $white;
      text-transform: uppercase;
      letter-spacing: 0.5px;

      & > em {
        color: $orange;
      }
    }

    & > img {
      margin: 20px auto;
    }

    & > p {
      color: #fff;
      font-size: 14px;
      line-height: 25px;
    }
  }
}

.schedule-filters {
  margin-bottom: 40px;

  .filters {
    display: flex;
    justify-content: center;

    & > li {
      list-style: none;
      cursor: pointer;
      margin-right: 10px;
      font-size: 15px;
      font-weight: 500;
      color: #fff;
      text-transform: capitalize;
      transition: all 0.3s ease-in-out;

      &:not(:last-child):after {
        content: '/';
        margin-left: 10px;
        color: #fff;
      }

      &.active {
        color: $orange;
      }
    }
  }
}

.schedule-table {
  .table {
    empty-cells: show;
    margin: 0 auto;
    border-collapse: collapse;

    table,
    td {
      border: 1px solid $white;
    }

    td {
      padding: 50px;
      width: 25%;
      color: #fff;
      font-size: 13px;
      text-transform: capitalize;
      font-weight: 500;
      letter-spacing: 0.25px;
      line-height: 16px;
      text-align: center;
    }
  }
}

.trainers-header {
  text-align: center;
  margin: 140px auto 80px;
  max-width: 50%;

  & > h2 {
    font-size: 28px;
    font-weight: 800;
    color: #232d39;
    letter-spacing: 0.5px;
    text-transform: uppercase;

    & > em {
      color: $orange;
    }
  }

  & > img {
    margin: 20px 0;
  }

  & > p {
    font-size: 14px;
    line-height: 25px;
    color: #7a7a7a;
  }
}

.trainer-cards {
  display: flex;

  .trainer-card {
    padding: 40px;
    width: 33%;

    & > img {
      width: 100%;
      border-radius: 5px;
    }

    & > span {
      font-size: 13px;
      font-weight: 500;
      color: $orange;
      display: inline-block;
      margin-top: 25px;
      margin-bottom: 10px;
    }

    & > h4 {
      font-size: 19px;
      font-weight: 600;
      color: $dark;
      letter-spacing: 0.5px;
      margin-bottom: 18px;
    }

    & > p {
      margin-bottom: 20px;
      font-size: 14px;
      line-height: 25px;
      color: #7a7a7a;
    }

    & > ul {
      display: flex;

      & > li {
        margin-right: 12px;

        & > a {
          color: $dark;
          transition: all 0.3s;
        }

        & > a:hover {
          color: $orange;
        }
      }
    }
  }
}

.contact {
  margin-top: 140px;

  .contact-background {
    padding: 80px;
    background-image: url(../images/contact-bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .contact-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 5px;

    .contact-details {
      display: flex;
      justify-content: space-between;

      & > input {
        width: 48%;
        color: $light-grey;
        font-size: 13px;
        border: 1px solid #ddd;
        background-color: $white;
        height: 40px;
        outline: none;
        line-height: 40px;
        padding: 0px 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
      }
    }

    .contact-subject {
      & > input {
        color: $light-grey;
        font-size: 13px;
        border: 1px solid #ddd;
        background-color: $white;
        width: 100%;
        height: 40px;
        outline: none;
        line-height: 40px;
        padding: 0px 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
      }
    }

    .contact-message {
      & > textarea {
        color: $light-grey;
        font-size: 13px;
        border: 1px solid #ddd;
        background-color: $white;
        width: 100%;
        height: 150px;
        outline: none;
        line-height: 40px;
        padding: 0px 10px;
        margin-bottom: 30px;
        box-sizing: border-box;
      }
    }

    .contact-button {
      & > button {
        cursor: pointer;
        display: inline-block;
        font-size: 13px;
        padding: 11px 17px;
        background-color: #ed563b;
        color: #fff;
        font-weight: 400;
        text-transform: uppercase;
        transition: all 0.3s;
        border: none;
        outline: none;
        margin-top: -8px;

        &:hover {
          background-color: lighten($color: $orange, $amount: 10%);
        }
      }
    }
  }
}

footer {
  text-align: center;
  padding: 30px 0;

  .footer-content {
    color: $dark;
    font-size: 13px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }

  .scroll-to-section {
    font-size: 11px !important;
    padding: 0 10px !important;
  }

  .nav-button {
    padding: 0 !important;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    max-width: 600px;
  }

  .scroll-to-section {
    padding: 0 !important;
  }

  .header-area {
    height: 80px;
    background-color: $white !important;
  }

  .main-navigation {
    display: block !important;
  }

  .company-logo {
    color: $dark !important;
  }

  .menu-button {
    position: absolute;
    top: 23px;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 40px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    .burger {
      width: 30px;
      height: 2px;
      background: $orange;
      transition: all 0.5s ease-in-out;

      &::before,
      &::after {
        content: '';
        position: absolute;
        width: 22px;
        height: 2px;
        background: $orange;
        transition: all 0.5s ease-in-out;
      }

      &::before {
        transform: translateY(-12px);
      }
      &::after {
        transform: translateY(12px);
      }
    }

    &.open .burger {
      transform: translateX(-50px);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(35px, -35px);
      }

      &::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
    }
  }

  .navigation-items {
    position: relative;
    display: none !important;
    transition: all 0.5s ease 0s;
    background-color: $white;
    z-index: 5;
    & > li {
      text-align: center;
      & > a {
        color: $dark !important;

        &:hover {
          color: $orange !important;
          background-color: lighten($orange, 30%);
        }
      }
    }
  }

  .feature-programs {
    width: 98%;
    display: block;
  }

  .classes-header {
    margin: 100px auto 50px;
  }

  .classes-section {
    display: block;

    .classes-left {
      //.classes-right
      width: 100%;
    }

    .classes-right {
      display: none;
    }

    .classes-left > ul > li > span {
      justify-content: center;
      text-align: center;
      margin: 0 auto;
    }
  }

  .classes-button {
    text-align: center;
  }

  .trainer-cards {
    display: block;

    .trainer-card {
      width: 80%;
      margin: 0 auto;
    }
  }
}

@media only screen and(max-width: 700px) {
  .container {
    max-width: 540px;
  }

  .contact-details {
    display: block !important;

    & > input {
      width: 100% !important;
    }
  }

  .schedule-table {
    .table {
      td {
        padding: 25px;
      }
    }
  }
}

@media only screen and(max-width: 500px) {
  .company-logo {
    font-size: $logo-small !important;
  }
  .programs-header,
  .classes-header,
  .schedule-header {
    max-width: 75% !important;
  }

  .contact-background {
    padding: 50px !important;
  }

  .schedule-header {
    margin: 140px auto 40px !important;
  }

  .filters {
    display: block !important;
    text-align: center;
    & > li {
      margin-bottom: 10px;

      &:not(:last-child):after {
        content: '' !important;
      }
    }
  }

  .schedule-table {
    .table {
      td {
        padding: 5px;
      }
    }
  }
}
