/* FONT SIZES */
$logo: 32px;
$logo-small: 23px;
$general: 13px;
$h2: 84px;
$h2-small: 28px;
$h6: 18px;
$button: 15px;

/* COLORS */
$orange: #ed563b;
$dark: #232d39;
$light-grey: #7a7a7a;
$white: #fff;
